html
  
  head
    title= title
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  body 

  div.container
    h1= title
    
    input#filter

    ul#list
      each item in recipes 
        li= item.name

  script(src='js/client.js')
    
  