

<div class="container">
    
    <h1>Recipes</h1>
    
    <input id='filter' placeholder='Filter by ingredient'>
    <button id='search'>Search</button>
    <button id='refresh'>Reset</button>
    
    <div id="list" class="row"></div>
</div>
<script src='/js/client.js'></script>
