<h1>Recipes</h1>

<input id='filter' placeholder='Filter by ingredient'>
<button id='refresh'>Reset</button>

<div class="row">
	<div class= 'col-xs-8 col-sm-8 col-lg-8'>
		
		<ul id="list"> 
		</ul>

	</div>
	<div class= 'col-xs-4 col-sm-4 col-lg-4'>
        <h1>Ingredients</h1>
        <ol id='ingredients'></ol>
	</div>
</div>
<script src='/js/client.js'></script>
