<h1>{{title}}</h1>

<input id='filter' placeholder='Filter by ingredient'>

<button id='refresh'>Reset</button>

<ul id="list">
  
  {{#each recipes}}
    <li>{{this.name}}</li>
  {{/each}}

</ul>

<script src='/js/client.js'></script>
    
  