<div class="container-fluid">
    
    <header>
	    <h1>Recipes</h1>
	    <input id='filter' placeholder='Filter by ingredient'>
    </header>
    
    <main id="list" class="row container well">
    </main>

    <footer>
		<p>© 2016 Recipes</p>
    </footer>
</div>
<script src='/js/client.js'></script>
